.k{
    margin-top: 2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: sans-serif;
    background: rgba(128, 125, 125, 0.61);
    display: block;
}
.hk{
    margin-left: 5%;
    font-size: medium;
}
.lap{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: grid;
    grid-column-gap: 2%;
    grid-template-columns: repeat(3, 1fr);
    font-family: sans-serif;
    font-size: smaller;
   
}
.holder_1{
    width: 100%;
   
}
.holder_2{
   width: 100%;
    
}
.holder_3{
    width: 100%;
    
}
.h1_{
    font-size: medium;
}
.dev{
    display: grid;
    grid-template-columns: auto auto;
    font-size: smaller;
}
.img_sec_{
    width: 100%;
}
